MÔN: Lập trình python nâng cao

Thời gian: 60p

Họ và tên: Đỗ Minh Đức - 24174600130 - DHKL18A3HN

Câu 1
a

In [13]:
import pandas as pd
import numpy as np
import sqlite3

In [14]:
#1.
class NhanVien():
    def __init__(self, ma_nv, luong_cb):
        self.__ma_nv = str(ma_nv)
        self.__luong_cb = float(luong_cb)

    def get_ma_nv(self):
        return self.__ma_nv
    
    def get_luong_cb(self):
        return self.__luong_cb
    
    def tinh_luong(self):
        return self.__luong_cb

#2.
class NhanVienTangCa(NhanVien):
    def tinh_luong(self):
        return super().tinh_luong() * 1.2
    
class NhanVienChuyenNghiep(NhanVien):
    def tinh_luong(self):
        return super().tinh_luong()+ 500000
    
#3.
if __name__ == "__main__":
    luong_base = 10000000
    ds_nhan_vien  = [ 
        NhanVien("NV001", luong_base),
        NhanVienTangCa("NV002", luong_base),
        NhanVienChuyenNghiep("NV003", luong_base)
        ]
    
    print(f"{'Mã NV':<10} | {'Tiền lương'}")
    for nv in ds_nhan_vien:
        print(f"{nv.get_ma_nv():<10} | {nv.tinh_luong():,.0f} VND")

Mã NV      | Tiền lương
NV001      | 10,000,000 VND
NV002      | 12,000,000 VND
NV003      | 10,500,000 VND

Câu 1 b

In [15]:
san_luong = [12, None, 8, 15, None, 10]

arr = np.array(san_luong, dtype=float).reshape(2, 3)

mean_value = np.nanmean(arr)
arr = np.nan_to_num(arr, nan=mean_value)

print("Mảng sau khi xử lý:")
print(arr)

lon_hon_9 = arr[arr > 9]
print("Các phần tử > 9:", lon_hon_9)
print("Giá trị nhỏ nhất:", lon_hon_9.min())

Mảng sau khi xử lý:
[[12.   11.25  8.  ]
 [15.   11.25 10.  ]]
Các phần tử > 9: [12.   11.25 15.   11.25 10.  ]
Giá trị nhỏ nhất: 10.0

Câu 2 a b

In [21]:
df = pd.read_csv("../DATA/nhan_su.csv")

df_loc = df[
    df["Ma_NV"].str.contains("NS", case=False, na=False) &
    (df["Nam_Cong_Tac"] >= 2021)
].copy()

mean_tt = df_loc["Thanh_Tich"].mean()
df_loc["Thanh_Tich"] = df_loc["Thanh_Tich"].fillna(mean_tt)

df_loc

    Ma_NV  Phong_Ban  Thanh_Tich  Nam_Cong_Tac
0   NS001  KinhDoanh   85.000000          2021
1   ns002  KinhDoanh   88.333333          2022
2   NS003     NhanSu   90.000000          2023
4   NS005    KyThuat   88.000000          2021
5   ns006    KyThuat   88.333333          2024
6   NS007  KinhDoanh   95.000000          2023
8   NS009     NhanSu   88.333333          2022
9   NS010    KyThuat   92.000000          2024
10  NS011  KinhDoanh   80.000000          2021

Câu 2 c

In [18]:
tong_thanh_tich = df_loc.groupby("Phong_Ban")["Thanh_Tich"].sum()
tong_thanh_tich

Phong_Ban
KinhDoanh    348.333333
KyThuat      268.333333
NhanSu       178.333333
Name: Thanh_Tich, dtype: float64

Câu 2 d

In [19]:
pivot = pd.pivot_table(
    df_loc,
    index="Phong_Ban",
    columns="Nam_Cong_Tac",
    values="Thanh_Tich",
    aggfunc="sum",
    fill_value=0
)

pivot

Nam_Cong_Tac   2021       2022  2023        2024
Phong_Ban
KinhDoanh     165.0  88.333333  95.0    0.000000
KyThuat        88.0   0.000000   0.0  180.333333
NhanSu          0.0  88.333333  90.0    0.000000

Câu 2 e

In [22]:
conn = sqlite3.connect("../OUTPUT/KetQuaPhanTich.db")

pivot.to_sql("bang_luong_2024", conn, if_exists="replace", index=True)

kiem_tra = pd.read_sql(
    "SELECT * FROM bang_luong_2024 LIMIT 5",
    conn
)

conn.close()

kiem_tra

   Phong_Ban   2021       2022  2023        2024
0  KinhDoanh  165.0  88.333333  95.0    0.000000
1    KyThuat   88.0   0.000000   0.0  180.333333
2     NhanSu    0.0  88.333333  90.0    0.000000